@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/


.footer {
	width: 100%;
	background: #444855;
	height: 150px;
	margin-top: 50px;

	p {
		color: #fff;
		text-align: center;
		padding-top: 100px;
	}
}

















