@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/


.footer {
	width: 100%;
	background: #444855;
	height: 95px;
	margin-top: 50px;
	padding-top: 60px;

	p {
		color: #fff;
		text-align: center;
		margin: 0;

		a {
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}
}

















