@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import "./bootstrap.min.css";
@import "./flickerplate.css";
@import "./_topNav_index.scss";
@import "./footer.scss";


body {
	background: #f3f3f3;
	font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

*,h1, h2, h3, h4, h5, h6, p  {
	padding: 0;
	margin: 0;
}

a {}

.contain {
	width: 1200px !important;
	margin: 0 auto;
	padding: 0;

	.breadcrumbs {
		color: #666;
	    font-size: 14px;
	    padding: 10px 0;
	    line-height: 30px;

	    a {
	    	color: #666;
	    	text-decoration: none;

	    	&:hover {
	    		color: #03978b;
	    		transition: all .3s ease;
	    	}
	    }

	    i {
	    	margin: 0 2px;
	    }
	}

	.inner {
		.layout-left {
			background: #fff;
				width: 74.5%;
				float: left;

			.header {
				border-bottom: 1px solid #ddd;
			    overflow: hidden;
			    padding: 25px 30px;

			    .logo {
			    	float: left;

				    img {
					    border-radius: 2px;
					    height: 52px;
					    width: 52px;
					    margin-right: 15px;
				    }			   
			    }

			    .info {
			    	float: left;

			    	h3 {
			    		font-size: 24px;
					    font-weight: 400;
			    	}

			    	p {
			    		color: #999;
			    		font-size: 12px;
					    margin-top: 10px;
			    	}
			    }

			    .publishBtn {
		    		float: right;
		    		a {
						border: none;
					    border-radius: 2px;
					    cursor: pointer;
					    display: inline-block;
					    font-size: 16px;
					    height: 34px;
					    line-height: 34px;
					    text-align: center;
					    vertical-align: middle;
					    width: 120px;
					    background: #03978b;
					    color: #fff;
					    text-decoration: none;

					    &:hover {
					    	opacity: .8;
					    }
		    		}
		    	}
			}

			.content {
				overflow: hidden;
				padding: 0 30px;

				.topic-item {
					border-bottom: 1px dashed #cecdcd;
					padding: 15px 0;
					overflow: hidden;

					.title {
						float: left;
						margin-right: 30px;
						
					}

					.info {
						color: #999;
					    font-size: 12px;
					    height: 20px;

						.user, .time {
							float: right;
						    max-width: 10%;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    white-space: nowrap;
						}

						.time {
							padding-left: 8px;
						}

						.placeTop {
							border-radius: 3px;
						    color: #fff;
						    float: left;
						    padding: 0 3px;
						    vertical-align: middle;
						    background-color: #26a89e;
							border: 1px solid #03978b;
						}

						a {
							float: left;
							color: #666;
						    text-decoration: none;
						    font-size: 14px;
						}
					}

					.view {
						margin-top: 8px;
						color: #999;
					    font-size: 12px;

					    span {
					    	margin-right: 15px;
					    }
					}
				}
			}
		}

		.layout-right {
			float: right;
			width: 24%;

			.person-info {
				background-color: #e3e3e3;
			    height: 270px;
			    overflow: hidden;
			    padding-top: 25px;
			    text-align: center;

			    .names {
			    	color: #666;
				    font-size: 18px;
				    line-height: 1;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
			    }

			    .photo {
			    	margin-top: 15px;
			    }

			    .btn-groups {

			    	a {
			    		border: none;
					    border-radius: 4px;
					    cursor: pointer;
					    height: 38px;
					    line-height: 38px;
					    font-size: 16px;
					    text-align: center;
					    vertical-align: middle;
					    width: 70%;
					    background: #03978b;
					    color: #fff;
					    display: block;
					    margin: 0 auto;
					    margin-top: 15px;
					    text-decoration: none;

					    &:hover {
					    	opacity: .8;
					    }

					    &.register-btn {
					    	background: #fff;
					    	color: #03978b;

					    }
			    	}
			    }
	
			    .info-nums {
			    	margin: 20px 15px 0;
				    overflow: hidden;
				    padding-left: 0;

					.items {
						width: 50%;
						float: left;

						p {
							color: #03978b;
							line-height: 1;
						    font-size: 36px;
						}

						h4 {
							color: #666;
							padding-top: 10px;
							font-size: 14px;
						}

						&:first-child {
							border-right: 1px solid #cfcfcf;
						}

					}
			    }
			}

		    .hot-topics {
		    	margin-top: 20px;
		    	background: #fff;

		    	.title {
		    		border-bottom: 1px solid #ddd;
				    font-size: 18px;
				    line-height: 1;
				    padding: 24px 0 24px 30px;
				    font-weight: 400;
		    	}

			    ul {
			    	padding: 15px 25px 30px;

			    	li {
			    		font-size: 12px;
					    line-height: 30px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;

					    a {
					    	color: #333;
					    }
			    	}
			    }
		    }
		}
	}
}





















