@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import "./bootstrap.min.css";
@import "./_topNav_load.scss";
@import "./footer.scss";

body {
	background: #f3f3f3;
	font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

*,ul, ol, li, dl, dd  {
	padding: 0;
	margin: 0;
}


.box-container {
	width:1200px;
	margin: 0 auto;
	margin-top: 90px;

	.account-info {
		.layoutLeft {
			width: 240px;
			padding: 5px;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin: 39px;
			float: left;
			height: 311px;
			line-height: 311px;
			color: #666;
			font-weight: 600;
			text-align: center;
			font-size: 18px;

		}

		.layoutRight {
			margin-top: 42px;
			float: right;
			width: 875px;

			.title {
				color: #444;
				em {
					font-size: 14px;
					color: #666;
					margin-left: 5px;
					font-style: normal;
				}
			}

			.public {
				span {
					color: #444;
					margin-right: 10px;
					font-size: 12px;
				}
			}

			.info {
				margin-top: 10px;
				width: 830px;
				height: 238px;
				padding-top: 15px;
				.left {
					width: 310px;
					float: left;

					li {
						list-style: none;
						margin-bottom: 17px;

						a {
							text-decoration: none;
							color: #198bad;

							&:hover {
								color: #027496;
							}
						}
					}
				}

				.right {
					width: 320px;
					float: right;

					.money {
						height: 60px;
						height: 60px;
						font-size: 20px;
						font-weight: 600;
						color: #777;
						margin-top: 10px;

						em {
							font-size: 36px;
							color: #3fbad9;
							font-style: normal;
							margin-right: 7px;
						}
					}

					.password {
						width: 200px;
						margin: 12px 0 30px 0;
					}
					
					.loadBtn {
						a {
							width: 200px;
						}
					}

				}
			}
		}
	}

	.main-info {
		min-height: 300px;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		background: #fff;

		.nav {
			border-bottom: none;
		}

		.panel-tabs {
			padding-bottom: 0;
			border-bottom: none;
		}

		.content-discussion {
			border-bottom: 1px dashed #ccc;
		    padding: 25px;

		    .photo {
		    	float: left;
				height: 60px;
				margin-right: 15px;
				position: relative;
				width: 60px;

				img {
					border-radius: 50%;
				    height: 60px;
				    width: 60px;
				}


		    }
			.discussion-info {
				float: left;
			    width: 1066px;

			    .title {
			    	color: #333;
					font-size: 17px;
					font-weight: 600;
			    }

			    p {
					line-height: 25px;
					margin: 10px 0;
					max-width: 1100px;
			    }

			    .left {
			    	color: #a5a5a5;
				    float: left;
			    }
			}
		}

		.alert-info {
			margin: 0 25px 25px;
		}


		.mesBoard {
			height: 250px;
			padding: 25px;

			.photo {
				width: 60px;
				height: 60px;
				float: left;
				margin-right: 15px;
				img {
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
			}

			.mes-content {
				float: left;
				width: 1060px;
				height: 150px;

				textarea {
					width: 100%;
					height: 100%;
					resize:none;
				}
			}

			.message-submit {
				line-height: 75px;
				text-align: center;
			}
		}

	}
}


#kkpager{
	height: 50px;
	line-height: 50px;

	.pageBtnWrap{
		margin-top: 20px;
	}
}

.webui-popover-content {
	padding: 0;
	font-size:12px;

	p {
		margin-top: 5px;
	}
}





















