@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import "./bootstrap.min.css";
@import "./_topNav_index.scss";
@import "./footer.scss";

body {
	background: #f1f1f1;
	font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
}


.container {
	position: relative;
	height: 100%;
	min-height: 750px;
	text-align: center;
	font-size: 14px;
	background-color: #f1f1f1;
	.logo {
		position: absolute;
		top: 56px;
		margin-left: 50px;
		background: #333;

		img {
			width: 100px;
		}
	}

	.main {
		width: 400px;
		margin: 60px auto 0;
		padding: 50px 50px 30px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 0 8px rgba(0,0,0,.1);
		vertical-align: middle;
		display: inline-block;


		.main-title {

			margin: 0 auto 50px;
			padding: 10px;
			font-weight: 400;
			font-size: 18px;

			span {
				padding: 10px;
				color: #969696;
				font-weight: 500;
				cursor: pointer;

				&.active {
					font-weight: 700;
					color: #ea6f5a;
					border-bottom: 2px solid #ea6f5a;
				}

				&:hover {
					border-bottom: 2px solid #ea6f5a;
				}
			}

			em {
				display: inline-block;
				margin: 0 10px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: #969696;
				vertical-align: middle;
			}
		}

		.main-content {
			form {
				.input-prepend {
					position: relative;
					width: 100%;
					input {
						width: 100%;
						height: 50px;
						margin-bottom: 0;
						padding: 4px 12px 4px 38px;
						border: 1px solid #c8c8c8;
						background-color: hsla(0,0%,71%,.1);
						vertical-align: middle;
						
						&.restyle {
							border-bottom: none;
						}
					}

					&:first-child {
						input {
							border-radius: 4px 4px 0 0;
						}
					}

					.lastIn {
						border-radius: 0 0 4px 4px;
					}

					i {
						position: absolute;
						top: 15px;
						left: 12px;
						font-size: 20px;
						color: #969696;
					}
				}

				.sendMessage {
					position: absolute;
					top: 8px;
					right: 5px;
				}

				.findPassword {
					height: 20px;
					line-height: 30px;
					text-align: right;
					margin-top: 10px;

					a {
						color: #666;
						text-decoration: none;

						&:hover {
							color: #333;
						}
					}
				}

				.submitBtn {
					button {
						margin-top: 20px;
						width: 100%;
					}
				}

				.error-info {
					color: red;
					text-align: center;
					height: 30px;
					line-height: 30px;
					margin-top: 20px;
				}

				.vCode-img {
					position: absolute;
					top: 5px;
					right: 10px;
					cursor: pointer;
				}

			}
		}
	}
}





















