@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import "./bootstrap.min.css";
@import "./_topNav_load.scss";
@import "./footer.scss";

body {
	background: #f3f3f3;
	font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

*,ul, ol, li, dl, dd  {
	padding: 0;
	margin: 0;
}

 
.box-container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
	
	.main-content {

		width: 1200px;
		min-height: 400px;
		margin: 0 auto;
		border-radius: 4px;
		border: 1px solid #ccc;
		background: #fff;

		 .listRec {

			.title {
				height: 40px;
				line-height: 40px;
				margin: 0;
				font-size: 18px;
				color: #555;
				padding-left: 20px;
			}

			.header{

				height: 48px;
				line-height: 48px;
				color: #4c4f4f;

				div{
					text-align: center;
					background: #f3f3f3;
					font-size: 14px;
					float: left;
				}

				.row-02{width: 120px; text-align: left;  padding: 0 10px;}
				.row-03{width: 163px; text-align: left;  padding: 0 10px;}
				.row-04{width: 130px; text-align: left;  padding: 0 10px;}
				.row-05{width: 160px; text-align: left;  padding: 0 10px;}
				.row-06{width: 75px; text-align: left;  padding: 0 10px;}
				.row-07{width: 150px; text-align: left;  padding: 0 10px;}
				.row-08{width: 75px;}
				.row-09{width: 100px;}
				.row-10{width: 75px;}
				.row-11{width: 75px;}
				.row-12{width: 75px;}
			}

			.list-item{

				height: 68px;
				line-height: 68px;
				border-bottom: 1px #f2f2f2 solid;
				color: #666;

				&:nth-child(odd){
					background: #fbfbfb;
				}

				li{
					height: 68px;
					line-height: 68px;
					float: left;
					text-align: center;
					list-style: none;
					overflow: hidden;

					a {
						text-decoration: none;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.row-02{width: 120px; text-align: left;  padding: 0 10px;}
				.row-03{width: 163px; text-align: left;  padding: 0 10px;}
				.row-04{width: 130px; text-align: left;  padding: 0 10px;}
				.row-05{width: 160px; text-align: left;  padding: 0 10px;}
				.row-06{width: 75px; text-align: left;  padding: 0 10px;}
				.row-07{width: 150px; text-align: left;  padding: 0 10px;}
				.row-08{width: 75px;}
				.row-09{width: 100px;}
				.row-10{width: 75px;}
				.row-11{width: 75px;}
				.row-12{width: 75px;}
			}
		}
	}
}

#kkpager{
	height: 50px;
	line-height: 50px;


	.pageBtnWrap{
		margin-top: 20px;
	}
}





















