@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import "./bootstrap.min.css";
@import "./_topNav_index.scss";
@import "./footer.scss";

body {
	background: #f1f1f1;
	font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
} 

.container {
	padding-top: 60px;
	padding-bottom: 100px;
}
.layui-table, .layui-table th {
	text-align: center;
}

.layui-table tr td a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: orange;

	}
}

.footer {
	position: relative;
	bottom: 0;
}


















