@charset "utf-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import "./bootstrap.min.css";
@import "./flickerplate.css";
@import "./_topNav_index.scss";
@import "./footer.scss";


body {
	background: #f3f3f3;
	font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
}

nav .inner {
	max-width: 1400px;
	min-width: 1000px;
	width: 95%;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
	min-width: 1000px;
	width: 95%;
	padding: 0;

	.breadcrumbs {
		color: #666;
	    font-size: 14px;
	    padding: 10px 0;
	    line-height: 30px;

	    a {
	    	color: #666;
	    	text-decoration: none;

	    	&:hover {
	    		color: #03978b;
	    		transition: all .3s ease;
	    	}
	    }

	    i {
	    	margin: 0 2px;
	    }
	}

	.inner {
		.reply-list {
			.reply-list-item {
				overflow: hidden;
				  border-bottom: 5px solid rgba(129, 160, 138, 0.2);
				.layout-left {
					background-color: #e1eae6;
				    text-align: center;
				    width: 200px;
					float: left;
					padding-bottom: 9999px;
					margin-bottom: -9999px;

				    .username {
				    	border-bottom: 1px dashed #c3cfca;
					    height: 58px;
					    line-height: 58px;
					    overflow: hidden;
					    padding-top: 2px;
					    font-weight: 600;
				    }

				    .info {
				    	padding: 14px 5px 58px;
				    	.marker {
				    		color: #666;
						    font-size: 12px;
						    line-height: 14px;
						    margin-bottom: 12px;
				    	}

				    	.photo {
				    		img {
				    			border-radius: 48px;
							    height: 96px;
							    width: 96px;
				    		}
				    	}

				    	.info-nums {
				    		margin-top: 6px;

				    		.item {
				    			
							    float: left;
							    line-height: 1;
							    margin-left: -1px;
							    width: 50%;


							    .data {
							    	 color: #03978b;
							    	 font-size: 24px;
							    	 display: block;
							    }

							    .type {
							    	color: #666;
									padding-top: 10px;
									font-size: 12px;
							    	 display: block;
							    }

							    &:first-child {
							    	border-right: 1px solid #cfcfcf;
							    }
				    		}
				    	}
				    }
				}

				.layout-right {
					background-color: #fff;
					margin-left: 200px;
					position: relative;
					overflow: hidden;
					padding-bottom: 59px;
					.header {
						color: #999;
					    font-size: 12px;
					    padding-left: 30px;
					    padding-right: 30px;
					    border-bottom: 1px dashed #c3cfca;
					    height: 58px;
					    line-height: 58px;
					    overflow: hidden;
					    padding-top: 2px;

					    span {
					    	margin-right: 12px;
					    }

						.floor {
							float: right;
							margin-right: 0;
						}
					}

					.content {
						padding: 15px 30px;
						min-height: 200px;
					}

					.bottom {
						border-top: 1px dashed #c3cfca;
					    bottom: 0;
					    left: 30px;
					    text-align: right;
					    overflow: hidden;
					    position: absolute;
					    right: 30px;
					     height: 59px;
					    line-height: 59px;

					    a {
					    	 color: #999;
							font-size: 14px;
							text-decoration: none;

							&:hover {
								color: #03978b;
							}
					    }

					}
				}
			}	
		}

		.reply-editor {
			width: 100%;
			padding-left: 200px;
			margin-top: 50px;
			background: #ececec;
			.reply-editor-content {
				background: #fff;
				padding: 0 30px;
				.title {
					background: #fff;
					 height: 58px;
					line-height: 58px;
					overflow: hidden;
					padding-top: 2px;
					font-size: 16px;
					color: #666;
				}

				.reply-btn {
					text-align: right;
					height: 60px;
					line-height: 40px;
					margin-top: 30px;
					button {
						border: none;
					    border-radius: 2px;
					    cursor: pointer;
					    font-size: 16px;
					    height: 34px;
					    line-height: 34px;
					    text-align: center;
					    width: 120px;
					    background-color: #03978b;
					    color: #fff;

					    &:hover {
					    	opacity: .8;
					    }
					}
				}
			}
		}
	}
}





















