@charset "UTF-8";
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import url(./bootstrap.min.css);
@import url(./flickerplate.css);
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
nav {
  height: 60px;
  background: #333; }
  nav .inner {
    width: 1200px;
    height: 60px;
    margin: 0 auto; }
    nav .inner .logo {
      float: left; }
      nav .inner .logo a {
        outline: none; }
      nav .inner .logo img {
        width: 130px;
        margin-top: 13px; }
    nav .inner .items {
      float: right;
      margin-right: 10px; }
      nav .inner .items li {
        height: 60px;
        line-height: 60px;
        float: left;
        text-align: center;
        list-style: none;
        margin-right: 15px; }
        nav .inner .items li a {
          color: #fff;
          text-decoration: none; }
          nav .inner .items li a:hover {
            color: #03978b; }
    nav .inner .search {
      float: right;
      margin-top: 15px;
      position: relative; }
      nav .inner .search input {
        outline: none;
        border: none;
        width: 200px;
        height: 30px;
        padding-left: 30px; }
      nav .inner .search span {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        font-size: 18px; }

/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
.footer {
  width: 100%;
  background: #444855;
  height: 150px;
  margin-top: 50px; }
  .footer p {
    color: #fff;
    text-align: center;
    padding-top: 100px; }

body {
  background: #f3f3f3;
  font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale; }

* {
  padding: 0;
  margin: 0; }

.container {
  width: 1200px;
  margin: 0 auto;
  background: #fff; }
  .container .hot-post .layout-left {
    width: 533px;
    float: left;
    height: 330px; }
  .container .hot-post .layout-right {
    padding: 0 23px;
    width: 570px;
    float: right; }
    .container .hot-post .layout-right .tab .tab-list {
      width: 33.33%;
      float: left;
      height: 66px;
      line-height: 66px;
      font-weight: 600;
      font-size: 18px;
      color: #333; }
      .container .hot-post .layout-right .tab .tab-list a {
        color: #333;
        text-decoration: none; }
      .container .hot-post .layout-right .tab .tab-list span {
        float: left;
        height: 35px;
        margin-left: 33px;
        margin-top: 14px;
        width: 40px; }
      .container .hot-post .layout-right .tab .tab-list:nth-child(1) span {
        background: url("../../images/logo_01.png") no-repeat; }
      .container .hot-post .layout-right .tab .tab-list:nth-child(1).active {
        background: #03978b; }
        .container .hot-post .layout-right .tab .tab-list:nth-child(1).active span {
          background: url("../../images/logo_11.png") no-repeat; }
        .container .hot-post .layout-right .tab .tab-list:nth-child(1).active a {
          color: #fff; }
      .container .hot-post .layout-right .tab .tab-list:nth-child(2) span {
        background: url("../../images/logo_02.png") no-repeat; }
      .container .hot-post .layout-right .tab .tab-list:nth-child(2).active {
        background: #ff9c00; }
        .container .hot-post .layout-right .tab .tab-list:nth-child(2).active span {
          background: url("../../images/logo_22.png") no-repeat; }
        .container .hot-post .layout-right .tab .tab-list:nth-child(2).active a {
          color: #fff; }
      .container .hot-post .layout-right .tab .tab-list:nth-child(3) span {
        background: url("../../images/logo_03.png") no-repeat; }
      .container .hot-post .layout-right .tab .tab-list:nth-child(3).active {
        background: #3f91d6; }
        .container .hot-post .layout-right .tab .tab-list:nth-child(3).active span {
          background: url("../../images/logo_33.png") no-repeat; }
        .container .hot-post .layout-right .tab .tab-list:nth-child(3).active a {
          color: #fff; }
    .container .hot-post .layout-right .content .item {
      overflow: hidden;
      padding-top: 24px; }
      .container .hot-post .layout-right .content .item li {
        line-height: 30px;
        overflow: hidden;
        padding: 0 80px 22px 0;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .container .hot-post .layout-right .content .item li .circle {
          width: 5px;
          height: 5px;
          background: #666;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 22px;
          display: inline-block; }
        .container .hot-post .layout-right .content .item li a {
          color: #666;
          outline-width: 0;
          text-decoration: none; }
        .container .hot-post .layout-right .content .item li:hover .circle {
          background: #03978b; }
        .container .hot-post .layout-right .content .item li:hover a {
          color: #03978b; }
  .container .hot-post .items {
    padding-left: 25px; }
    .container .hot-post .items li {
      list-style: none;
      padding-bottom: 20apx; }
      .container .hot-post .items li a {
        color: #666;
        text-decoration: none; }
        .container .hot-post .items li a:hover {
          color: #03978b; }
  .container .product h2 {
    color: #333333;
    font-size: 24px;
    line-height: 1;
    padding: 15px 0 15px 19px;
    font-weight: 400; }
  .container .product .content {
    padding: 0 0 0 38px; }
    .container .product .content .product-list {
      width: 276px;
      float: left;
      display: inline;
      position: relative;
      margin-right: 7px;
      border-left: 2px solid #ffffff;
      box-sizing: border-box;
      border: 2px solid #fff; }
      .container .product .content .product-list:hover {
        border-color: #03978b; }
      .container .product .content .product-list .first {
        height: 284px;
        margin-right: 7px;
        padding: 0 40px;
        background: #fff;
        overflow: hidden;
        float: left; }
        .container .product .content .product-list .first .title {
          color: #03978b;
          font-size: 20px;
          margin-bottom: 46px;
          margin-top: 36px;
          text-align: center; }
        .container .product .content .product-list .first .pic {
          overflow: hidden;
          text-align: center;
          margin: 0 -40px;
          border-right: 2px solid #e5e5e5; }
          .container .product .content .product-list .first .pic img {
            width: 150px;
            height: 100px;
            vertical-align: middle; }
        .container .product .content .product-list .first .discuss {
          overflow: hidden;
          margin: 24px 55px; }
          .container .product .content .product-list .first .discuss p {
            font-size: 14px;
            color: #666666;
            font-family: 微软雅黑;
            text-align: center;
            margin: 0px 0px 4px;
            overflow: hidden; }
            .container .product .content .product-list .first .discuss p span {
              color: #03978b; }
  .container .classify h2 {
    color: #333333;
    font-size: 24px;
    line-height: 1;
    padding: 15px 0 15px 19px;
    font-weight: 400; }
  .container .classify .content {
    margin-left: 21px; }
    .container .classify .content .classify-list {
      border: 2px solid #e5e5e5;
      height: 117px;
      margin-bottom: 29px;
      width: 529px;
      float: left;
      margin-right: 42px; }
      .container .classify .content .classify-list .icon {
        float: left;
        padding: 24px 46px 24px 65px; }
      .container .classify .content .classify-list .info {
        float: left;
        margin: 18px auto; }
        .container .classify .content .classify-list .info h4 {
          font-family: "微软雅黑";
          font-size: 20px;
          font-weight: 400; }
          .container .classify .content .classify-list .info h4 a {
            text-decoration: none;
            color: #333333; }
            .container .classify .content .classify-list .info h4 a:hover {
              color: #03978b; }
        .container .classify .content .classify-list .info .introduction p {
          color: #666666;
          float: left;
          font-family: "微软雅黑";
          font-size: 14px;
          margin-right: 15px;
          margin-top: 4px; }
      .container .classify .content .classify-list:hover {
        border-color: #03978b; }

/*# sourceMappingURL=index.css.map */
