/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
@import url(./bootstrap.min.css);
/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
nav {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 1px 1px 10px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  nav .inner {
    width: 1200px;
    height: 60px;
    margin: 0 auto; }
    nav .inner .logo {
      width: 100px;
      height: 60px;
      line-height: 60px;
      float: left;
      text-align: center; }
      nav .inner .logo a {
        color: #3fbad9;
        font-size: 26px;
        font-weight: 700;
        text-decoration: none; }
    nav .inner .items {
      float: right;
      margin-right: 20px; }
      nav .inner .items li {
        height: 60px;
        line-height: 60px;
        float: left;
        text-align: center;
        list-style: none;
        padding: 0 15px; }
        nav .inner .items li a {
          color: #3fbad9;
          text-decoration: none;
          transition: all 0.3s ease 0s;
          font-size: 16px; }
          nav .inner .items li a:hover {
            color: #2aa5c4; }
    nav .inner .search {
      height: 35px;
      float: left;
      margin: 14px 0 0 60px; }
      nav .inner .search input {
        float: left;
        height: 35px;
        outline: none;
        width: 350px;
        padding-left: 20px;
        border-radius: 4px 0 0 4px;
        float: left; }
      nav .inner .search button {
        width: 80px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #3fbad9;
        color: #fff;
        font-weight: 600;
        float: left;
        border: none;
        outline: none;
        border-radius: 0 4px 4px 0;
        transition: all 0.3s ease 0s; }
        nav .inner .search button:hover {
          background: #2aa5c4; }
    nav .inner .btnGroup {
      float: right;
      height: 60px;
      line-height: 60px; }
      nav .inner .btnGroup .login-btn {
        display: inline-block;
        height: 25px;
        line-height: 23px;
        text-align: center;
        border-radius: 4px;
        margin-left: 10px;
        text-decoration: none;
        padding: 0 10px;
        border: 1px solid #3fbad9;
        color: #3fbad9;
        transition: all 0.3s ease 0s; }
        nav .inner .btnGroup .login-btn:hover {
          color: #2aa5c4;
          border-color: #2aa5c4; }
      nav .inner .btnGroup .register-btn {
        display: inline-block;
        height: 25px;
        line-height: 23px;
        text-align: center;
        border-radius: 4px;
        margin-left: 10px;
        text-decoration: none;
        padding: 0 10px;
        border: 1px #3fbad9 solid;
        color: #fff;
        transition: all 0.3s ease 0s;
        background: #3fbad9; }
        nav .inner .btnGroup .register-btn:hover {
          background: #2aa5c4;
          border-color: #2aa5c4; }

/* -------------------------------------------------
 * 
 * -------------------------------------------------
*/
.footer {
  width: 100%;
  background: #444855;
  height: 95px;
  margin-top: 50px;
  padding-top: 60px; }
  .footer p {
    color: #fff;
    text-align: center;
    margin: 0; }
    .footer p a {
      color: #fff; }
      .footer p a:hover {
        color: #fff; }

body {
  background: #f3f3f3;
  font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale; }

*, ul, ol, li, dl, dd {
  padding: 0;
  margin: 0; }

[v-cloak] {
  display: none; }

a {
  outline: none !important; }

.box-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 65px; }
  .box-container .main-content {
    width: 860px;
    float: left;
    background: #fff;
    min-height: 500px; }
    .box-container .main-content .content .title {
      height: 60px;
      line-height: 60px; }
      .box-container .main-content .content .title a {
        float: left;
        margin: 13px 5px 0 14px; }
      .box-container .main-content .content .title .item {
        float: left;
        padding-left: 10px; }
        .box-container .main-content .content .title .item span {
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          text-align: center;
          display: inline-block;
          color: #666;
          cursor: pointer; }
          .box-container .main-content .content .title .item span.active {
            color: #3fbad9; }
          .box-container .main-content .content .title .item span:hover {
            color: #3fbad9; }
    .box-container .main-content .content .inner .header {
      height: 48px;
      line-height: 48px;
      color: #4c4f4f; }
      .box-container .main-content .content .inner .header div {
        text-align: center;
        background: #f3f3f3;
        font-size: 14px;
        float: left; }
    .box-container .main-content .content .inner .list-item {
      height: 68px;
      line-height: 68px;
      border-bottom: 1px #f2f2f2 solid;
      color: #666; }
      .box-container .main-content .content .inner .list-item:nth-child(odd) {
        background: #fbfbfb; }
      .box-container .main-content .content .inner .list-item li {
        height: 68px;
        line-height: 68px;
        float: left;
        text-align: center;
        list-style: none;
        overflow: hidden; }
        .box-container .main-content .content .inner .list-item li a {
          text-decoration: none; }
    .box-container .main-content .content .inner-nav1 .row-01 {
      width: 70px; }
    .box-container .main-content .content .inner-nav1 .row-02 {
      width: 70px; }
    .box-container .main-content .content .inner-nav1 .row-03 {
      width: 70px; }
    .box-container .main-content .content .inner-nav1 .row-04 {
      width: 100px; }
    .box-container .main-content .content .inner-nav1 .row-05 {
      width: 148px; }
    .box-container .main-content .content .inner-nav1 .row-06 {
      width: 68px; }
    .box-container .main-content .content .inner-nav1 .row-07 {
      width: 90px; }
    .box-container .main-content .content .inner-nav1 .row-08 {
      width: 100px; }
    .box-container .main-content .content .inner-nav1 .row-09 {
      width: 70px; }
    .box-container .main-content .content .inner-nav1 .row-10 {
      width: 70px; }
    .box-container .main-content .content .inner-nav2 .row-01 {
      width: 160px; }
    .box-container .main-content .content .inner-nav2 .row-02 {
      width: 160px; }
    .box-container .main-content .content .inner-nav2 .row-03 {
      width: 158px; }
    .box-container .main-content .content .inner-nav2 .row-04 {
      width: 190px; }
    .box-container .main-content .content .inner-nav2 .row-05 {
      width: 190px; }
    .box-container .main-content .content .inner-nav3 .row-01 {
      width: 130px; }
    .box-container .main-content .content .inner-nav3 .row-02 {
      width: 130px; }
    .box-container .main-content .content .inner-nav3 .row-03 {
      width: 130px; }
    .box-container .main-content .content .inner-nav3 .row-04 {
      width: 130px; }
    .box-container .main-content .content .inner-nav3 .row-05 {
      width: 130px; }
    .box-container .main-content .content .inner-nav3 .row-06 {
      width: 208px; }
  .box-container .per-info {
    width: 280px;
    float: left;
    margin: 0 30px; }
    .box-container .per-info .photo {
      width: 200px;
      height: 200px;
      margin: 0 auto; }
      .box-container .per-info .photo img {
        width: 200px;
        height: 200px; }
    .box-container .per-info .nickname {
      height: 70px;
      line-height: 70px;
      color: #666;
      font-size: 20px;
      font-weight: 500; }
    .box-container .per-info .info {
      padding-bottom: 15px; }
      .box-container .per-info .info li {
        list-style: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #f2f2f2;
        padding: 0 5px; }
        .box-container .per-info .info li span {
          width: 60px;
          color: #333;
          font-weight: 500;
          float: left; }
        .box-container .per-info .info li em {
          float: left;
          font-style: normal;
          color: #777;
          width: 170px;
          text-align: center;
          overflow: hidden; }
        .box-container .per-info .info li .mainColor {
          color: #3fbad9;
          font-weight: 500;
          text-decoration: none;
          cursor: pointer; }
          .box-container .per-info .info li .mainColor:hover {
            color: #2aa5c4; }
        .box-container .per-info .info li button {
          margin-top: 18px; }
  .box-container .nav {
    border-bottom: none; }
  .box-container .panel-tabs {
    padding-bottom: 0;
    border-bottom: none; }

/*# sourceMappingURL=users.css.map */
